# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/


# Logs
logs/
*.log

# System files
.DS_Store
*.swp
*.swo

# Git
.git/
.gitignore

# Docker files
DockerFile
